In [47]:
gr_name = []
_gr_name = []
gr_price = []
_gr_price = []
import pandas as pd
import requests
from bs4 import BeautifulSoup
user = input().lower()
user_price = int(input())
for i in range(20):
    url = "https://www.flipkart.com/search?q=graphics+card&sid=6bo%2Cg0i%2C6sn&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_2_3_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_2_3_na_na_na&as-pos=2&as-type=HISTORY&suggestionId=graphics+card%7CGraphic+Cards&requestId=e40e2208-3a1f-4f7b-8942-3d80e9fc5a8e&page="+str(i)
    req = requests.get(url)
    content = BeautifulSoup(req.content,'html.parser')
    name = content.find_all("a",{"class" : 's1Q9rs'})
    price = content.find_all("div",{"class":"_30jeq3"})
    for i in name:
        gr_name.append(i.text.lower())
    for i in price:
        gr_price.append(i.text.replace('₹','').replace(',',''))
        gr_price_=[eval(i) for i in gr_price]
    graphics_card = dict(zip(gr_name,gr_price_))
    for k,v in graphics_card.items():
        if user in k and user_price>=v:
            _gr_name.append(k)
            _gr_price.append(v)

df = pd.DataFrame(list(zip(_gr_name,_gr_price)),columns=["Graphics_card_name","Graphics_card_price"])

amd
14000

In [48]:
df

                                    Graphics_card_name  Graphics_card_price
0    asus amd radeon dual rx 6400 4 gb gddr6 graphi...                10439
1    msi amd radeon radeon rx 6500 xt mech 2x 4g oc...                12999
2    sapphire amd radeon radeon rx 550 4 gb gddr5 g...                 7699
3    asus amd radeon ph-rx550-4g-evo 4 gb gddr5 gra...                 7999
4    sapphire amd radeon radeon rx 6400 4 gb gddr6 ...                10439
..                                                 ...                  ...
253  amd amd radeon sapphire pulse radeon™ rx 6800 ...                 2550
254  msi amd radeon rx 6700 xt 12 gb gddr6 graphics...                13999
255  amd amd radeon sapphire pulse radeon rx 6500 x...                 7999
256  msi amd radeon radeon rx 6600 xt mech 2x 8g oc...                  389
257  selito amd radeon rx 580 8 gb gddr5 graphics card                 1069

[258 rows x 2 columns]